# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.editorconfig
/dist
/logs
/tmp
*/.svn/*

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea

#System Files
.DS_Store
Thumbs.db
